@using MoqWord.Components.Components.FaIcon
@using ReactiveUI.Blazor
@inherits ReactiveLayoutComponentBase<GlobalService>

<Layout class="MainContainer">
    <Sider @bind-Collapsed=@collapsed NoTrigger OnCollapse="OnCollapse">
        <div class="titleBar">
            <img class="logo" src="MOQ.png" alt="莫欺单词" />
            @if (!collapsed)
            {
                <span class="title">莫欺单词</span>
            }
        </div>
        <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline" SelectedKeys="new string[] { currentKey }">
            <MenuItem Key="" OnClick=@(()=>NavigateGo("/"))>
                <Icon Type="home" Theme="outline" Style="font-weight:bold;"/>
                <span class="nav_name">背诵单词</span>
            </MenuItem>
            <MenuItem Key="WordList" OnClick=@(()=>NavigateGo("/WordList"))>
                <Icon Type="table" Theme="outline" Style="font-weight:bold;" />
                <span class="nav_name">字典列表</span>
            </MenuItem>
            <MenuItem Key="Settings" OnClick=@(()=>NavigateGo("/Settings"))>
                <Icon Type="setting" Theme="outline" Style="font-weight:bold;" />
                <span>程序配置</span>
            </MenuItem>
            <MenuItem Key="About" OnClick=@(()=>NavigateGo("/About"))>
                <Icon Type="send" Theme="outline" Style="font-weight:bold;" />
                <span>关于我们</span>
            </MenuItem>
        </Menu>
    </Sider>
    <Layout Class="site-layout">
        <div @onmousedown="WindowHelper.StartMove" @onmouseup="WindowHelper.StopMove" @onmouseleave="WindowHelper.StopMove">
            <Header Class="!bg-white flex flex-row !px-4 items-center justify-center box-border">
                @if (collapsed)
                {
                    <FaIcon Type="fa-indent" OnClick="toggle" />
                }
                else
                {
                    <FaIcon Type="fa-outdent" OnClick="toggle" />
                }
                <Flex Class="ml-auto" Gap="large">
                    <Flex Gap="large" Align="center" Justify="center" Style="height: 100%;margin: 0 10px;">
                        <Tooltip Title="请选择字典">
                            <div class="cursor-pointer p-2 box-border font-bold text-lg transition-all rounded bg-gray-100 hover:bg-gray-300" @onclick=@(()=>NavigateGo("/WordList"))>
                                @(ViewModel?.currentBook?.Name ?? "未选择")
                            </div>
                        </Tooltip>
                        <Tooltip Title="选择章节">
                            <div class="cursor-pointer p-2 box-border font-bold text-lg transition-all rounded bg-gray-100 hover:bg-gray-300" @onclick=@(()=> dayViewCollapsed = !dayViewCollapsed)>
                                第@(ViewModel?.currentDay + 1)天
                            </div>
                        </Tooltip>
@*                         <Tooltip Title="切换暗色主题">
                            <FaIcon Type="fa-sun" />
                        </Tooltip> *@
                        <Dropdown Arrow Placement="Placement.Bottom">
                            <Overlay>
                                <Menu>
                                    <MenuItem OnClick="()=> ViewModel.SetRepeatCount(RepeatType.One)">循环播放1次</MenuItem>
                                    <MenuItem OnClick="()=> ViewModel.SetRepeatCount(RepeatType.Three)">循环播放3次</MenuItem>
                                    <MenuItem OnClick="()=> ViewModel.SetRepeatCount(RepeatType.Five)">循环播放5次</MenuItem>
                                    <MenuItem OnClick="()=> ViewModel.SetRepeatCount(RepeatType.Eight)">循环播放8次</MenuItem>
                                    <MenuItem OnClick="()=> ViewModel.SetRepeatCount(RepeatType.Many)">重复循环</MenuItem>
                                </Menu>
                            </Overlay>
                            <ChildContent>
                                <div class="flex gap-1 cursor-pointer p-2 box-border font-bold text-lg transition-all rounded bg-gray-100 hover:bg-gray-300">
                                    <FaIcon Type="fa-repeat" IsInherit="false"/>
                                    <span class="font-bold select-none">@((int)ViewModel?.currentSetting?.RepeatCount)次</span>
                                </div>
                            </ChildContent>
                        </Dropdown>
                    </Flex>
                    <Divider Type="DirectionVHType.Vertical" Style="margin: auto 0"/>
                    <Flex Class="flex" Gap="large" Align="center" Justify="center" Style="margin: 0 10px;">
                        <Tooltip Title="修改桌面单词配置">
                            <FaIcon Type="fa-sliders" OnClick="NotifyIconHelper.ShowOptionView" />
                        </Tooltip>
                        <Tooltip Title="桌面单词">
                            <FaIcon Type="fa-window-restore" OnClick="NotifyIconHelper.Show" />
                        </Tooltip>
                        <Tooltip Title="最小化">
                            <FaIcon Type="fa-minus" OnClick="WindowHelper.Minimize" />
                        </Tooltip>
                        <Tooltip Title="最大化">
                            <FaIcon Type="fa-expand" OnClick="WindowHelper.Collpase" />
                        </Tooltip>
                        <Tooltip Title="隐藏">
                            <FaIcon Type="fa-xmark" OnClick="()=>WindowHelper.Hide()" />
                        </Tooltip>
                    </Flex>
                </Flex>
            </Header>
        </div>
        <Content Style="padding-top: 20px;height: 100%;box-sizing: border-box;overflow: auto;">
            @Body
            @if (dayViewCollapsed)
            {
                <Drawer @bind-Visible="dayViewCollapsed" Title="@($"第{ViewModel.currentDay + 1}天")" Width="500">
                    <Virtualize Items="@ViewModel.playService.DayList" Context="item">
                        <div class="@(item.IsGrasp ? " bg-emerald-500" : "bg-gray-300") relative flex flex-row hover:bg-gray-400 cursor-pointer gap-3 my-3 p-3 rounded shadow-current"
                             @onclick=@(()=> SelectGroupNumber(item.GroupDay))>
                            <span class="mr-auto">第@(item.GroupDay + 1)天</span>
                            <Tooltip Title="选择">
                                <FaIcon Type="fa-hand-pointer" @onclick=@(()=> SelectGroupNumber(item.GroupDay)) />
                            </Tooltip>
                            <Tooltip Title="@(item.IsGrasp ? "重新记忆" : "已掌握")">
                                @if(item.IsGrasp){
                                    <FaIcon Type="fa-trash-arrow-up" @onclick=@(()=> SetGroupState(item, false)) />
                                }
                                else
                                {
                                    <FaIcon Type="fa-check" @onclick=@(()=> SetGroupState(item, true)) />
                                }
                            </Tooltip>
                        </div>
                    </Virtualize>
                </Drawer>
            }
        </Content>
    </Layout>
</Layout>
<AntContainer />

<style>
    .MainContainer {
        height: 100% !important;
        width: 100% !important;
    }
        .MainContainer .trigger {
            font-size: 18px;
            line-height: 64px;
            padding: 0 24px;
            cursor: pointer;
            transition: color 0.3s;
            box-sizing: border-box;
        }

            .MainContainer .trigger:hover {
                color: #1890ff;
            }

        .MainContainer .titleBar {
            height: 32px;
            margin: 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: white;
            gap: 10px;
        }

            .MainContainer .titleBar .logo{
                width: 32px;
                height: 32px;
            }

            .MainContainer .titleBar .title{
                font-size: 20px;
            }
        .nav_name{
            margin-left: 10px;
        }
        .MainContainer .header {
            display: flex;
            flex-direction: row;
            padding: 0 17px;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
        }

            .MainContainer .header .tools{
                margin-left: auto;
            }

            .MainContainer .header .tools .ToolsItem {
                cursor: pointer;
                transition: all .3s;
                padding: 7px;
                box-sizing: border-box;
                font-size: 18px;
                font-weight: bold;
            }

                .MainContainer .header .tools .ToolsItem:hover {
                    background: #1890ff;
                    color: white;
                }

    .site-layout .site-layout-background {
        background: #fff;
    }

</style>